<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map.css') }}">
    <script>var src = {{googlePath}};
    </script>
</head>
<body>
<script type=text/javascript src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>  var kmlLayer = new google.maps.KmlLayer(src, {
    suppressInfoWindows: true,
    preserveViewport: false,
    map: map
  });</script>
<title>HOTMAP</title>
<h1>Awesome File Uploader!</h1>
<h2>what have you got? hi {{ googlePath }}</h2>
<form action="" method=post enctype=multipart/form-data>
    <p><input type=file name=file>
        <input type=submit value=Upload>
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8aZ0bgxCZGVKhGQ5VCxd-BctfCdlFXm8&callback=initMap">
    </script>
</form>
</body>
