<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
</head>
<body>
<title>HOTMAP</title>
<h1>Awesome Map Viewer!</h1>
<h2>File path: {{ googlePath }}</h2>
<select class="ui search dropdown">
    {% for file in files %}
  <option value="">file.filename</option>
    {% endfor %}
</select>
</body>
